/*===========================================
 * Common
 *===========================================*/
body,
html {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	background-color: #f3f3f3;
	background: url('images/Picture6.webp') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#flipbook {
	border: 2px solid #dba529;
	height: 500px; /* Default height for all screen sizes */
}

/* Media queries for different screen sizes */
@media screen and (max-width: 768px) {
	#flipbook {
		height: 600px; /* Height for screens up to 768px */
	}
}

@media screen and (max-width: 576px) {
	#flipbook {
		height: 500px; /* Height for screens up to 576px */
	}
}

@media screen and (max-width: 320px) {
	#flipbook {
		height: 400px; /* Height for screens up to 320px */
	}
}

